*~
qcdnum
qcdnumBuild
alposBuild
fastnlo
fastnloBuild
apfelxx
PlottingHelper
dpdfLib

alpos/test/steering.str
alpos/test/alpos.out.root
alpos/test/H1diff.str
*.wgt
*.swp
*.swo
*.log
alpos/macros/*.pdf

alpos/farm/test*/
alpos/farm/check*/
**AutoDict_*

